In [2]:
import pandas as pa
df=pa.read_csv(r'C:\Users\PC\Downloads\owid-covid-data.csv')

C:\Users\PC\AppData\Local\Temp\ipykernel_8448\2922742852.py:2: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pa.read_csv(r'C:\Users\PC\Downloads\owid-covid-data.csv')

In [3]:
row , coulmn=df.shape
print("number of row : ",row)
print("number of coulmn : ",coulmn)

number of row :  311364
number of coulmn :  67

In [4]:
print(df.head(10))
print("###########################################################################################")
print(df.tail())

  iso_code continent     location        date  total_cases  new_cases  \
0      AFG      Asia  Afghanistan  2020-01-03          NaN        0.0
1      AFG      Asia  Afghanistan  2020-01-04          NaN        0.0
2      AFG      Asia  Afghanistan  2020-01-05          NaN        0.0
3      AFG      Asia  Afghanistan  2020-01-06          NaN        0.0
4      AFG      Asia  Afghanistan  2020-01-07          NaN        0.0
5      AFG      Asia  Afghanistan  2020-01-08          NaN        0.0
6      AFG      Asia  Afghanistan  2020-01-09          NaN        0.0
7      AFG      Asia  Afghanistan  2020-01-10          NaN        0.0
8      AFG      Asia  Afghanistan  2020-01-11          NaN        0.0
9      AFG      Asia  Afghanistan  2020-01-12          NaN        0.0

   new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  ...  \
0                 NaN           NaN         0.0                  NaN  ...
1                 NaN           NaN         0.0                  NaN  ...
2                 NaN           NaN         0.0                  NaN  ...
3                 NaN           NaN         0.0                  NaN  ...
4                 NaN           NaN         0.0                  NaN  ...
5                 0.0           NaN         0.0                  0.0  ...
6                 0.0           NaN         0.0                  0.0  ...
7                 0.0           NaN         0.0                  0.0  ...
8                 0.0           NaN         0.0                  0.0  ...
9                 0.0           NaN         0.0                  0.0  ...

   male_smokers  handwashing_facilities  hospital_beds_per_thousand  \
0           NaN                  37.746                         0.5
1           NaN                  37.746                         0.5
2           NaN                  37.746                         0.5
3           NaN                  37.746                         0.5
4           NaN                  37.746                         0.5
5           NaN                  37.746                         0.5
6           NaN                  37.746                         0.5
7           NaN                  37.746                         0.5
8           NaN                  37.746                         0.5
9           NaN                  37.746                         0.5

   life_expectancy  human_development_index  population  \
0            64.83                    0.511  41128772.0
1            64.83                    0.511  41128772.0
2            64.83                    0.511  41128772.0
3            64.83                    0.511  41128772.0
4            64.83                    0.511  41128772.0
5            64.83                    0.511  41128772.0
6            64.83                    0.511  41128772.0
7            64.83                    0.511  41128772.0
8            64.83                    0.511  41128772.0
9            64.83                    0.511  41128772.0

   excess_mortality_cumulative_absolute  excess_mortality_cumulative  \
0                                   NaN                          NaN
1                                   NaN                          NaN
2                                   NaN                          NaN
3                                   NaN                          NaN
4                                   NaN                          NaN
5                                   NaN                          NaN
6                                   NaN                          NaN
7                                   NaN                          NaN
8                                   NaN                          NaN
9                                   NaN                          NaN

   excess_mortality  excess_mortality_cumulative_per_million
0               NaN                                      NaN
1               NaN                                      NaN
2               NaN                                      NaN
3               NaN                                      NaN
4               NaN                                      NaN
5               NaN                                      NaN
6               NaN                                      NaN
7               NaN                                      NaN
8               NaN                                      NaN
9               NaN                                      NaN

[10 rows x 67 columns]
###########################################################################################
       iso_code continent  location        date  total_cases  new_cases  \
311359      ZWE    Africa  Zimbabwe  2023-05-13     264821.0        5.0
311360      ZWE    Africa  Zimbabwe  2023-05-14     264841.0       20.0
311361      ZWE    Africa  Zimbabwe  2023-05-15     264848.0        7.0
311362      ZWE    Africa  Zimbabwe  2023-05-16     264848.0        0.0
311363      ZWE    Africa  Zimbabwe  2023-05-17     264848.0        0.0

        new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  \
311359              10.286        5690.0         1.0                0.429
311360              10.714        5690.0         0.0                0.429
311361              10.286        5690.0         0.0                0.286
311362               9.429        5690.0         0.0                0.286
311363               8.143        5690.0         0.0                0.143

        ...  male_smokers  handwashing_facilities  hospital_beds_per_thousand  \
311359  ...          30.7                  36.791                         1.7
311360  ...          30.7                  36.791                         1.7
311361  ...          30.7                  36.791                         1.7
311362  ...          30.7                  36.791                         1.7
311363  ...          30.7                  36.791                         1.7

        life_expectancy  human_development_index  population  \
311359            61.49                    0.571  16320539.0
311360            61.49                    0.571  16320539.0
311361            61.49                    0.571  16320539.0
311362            61.49                    0.571  16320539.0
311363            61.49                    0.571  16320539.0

        excess_mortality_cumulative_absolute  excess_mortality_cumulative  \
311359                                   NaN                          NaN
311360                                   NaN                          NaN
311361                                   NaN                          NaN
311362                                   NaN                          NaN
311363                                   NaN                          NaN

        excess_mortality  excess_mortality_cumulative_per_million
311359               NaN                                      NaN
311360               NaN                                      NaN
311361               NaN                                      NaN
311362               NaN                                      NaN
311363               NaN                                      NaN

[5 rows x 67 columns]

In [5]:
print(df.describe())
print("********************************************************************************************")
print(df.nunique())

        total_cases     new_cases  new_cases_smoothed  total_deaths  \
count  2.753350e+05  3.026550e+05        3.013910e+05  2.546350e+05
mean   5.767156e+06  1.073397e+04        1.077678e+04  8.061661e+04
std    3.600088e+07  1.030085e+05        1.002455e+05  4.164645e+05
min    1.000000e+00  0.000000e+00        0.000000e+00  1.000000e+00
25%    6.565000e+03  0.000000e+00        1.143000e+00  1.210000e+02
50%    6.239700e+04  1.700000e+01        3.771400e+01  1.230000e+03
75%    6.419815e+05  5.230000e+02        6.310000e+02  1.064800e+04
max    7.664400e+08  7.460822e+06        6.410667e+06  6.932578e+06

          new_deaths  new_deaths_smoothed  total_cases_per_million  \
count  302735.000000        301505.000000            275335.000000
mean       95.740952            96.103652             88010.375666
std       600.706338           591.334247            138439.520139
min         0.000000             0.000000                 0.000000
25%         0.000000             0.000000              2039.082000
50%         0.000000             0.286000             20898.389000
75%         6.000000             6.714000            107810.942500
max     20027.000000         14677.857000            737554.506000

       new_cases_per_million  new_cases_smoothed_per_million  \
count          302655.000000                   301391.000000
mean              161.890445                      162.525589
std              1127.171598                      634.547240
min                 0.000000                        0.000000
25%                 0.000000                        0.246000
50%                 2.396000                       10.664000
75%                68.501000                      103.445000
max            228872.025000                    37241.781000

       total_deaths_per_million  ...   male_smokers  handwashing_facilities  \
count             254635.000000  ...  178514.000000           118181.000000
mean                 811.194069  ...      32.909969               50.790203
std                 1053.772688  ...      13.574379               31.957386
min                    0.000000  ...       7.700000                1.188000
25%                   50.398500  ...      22.600000               20.859000
50%                  338.621000  ...      33.100000               49.839000
75%                 1246.603000  ...      41.300000               83.241000
max                 6476.319000  ...      78.100000              100.000000

       hospital_beds_per_thousand  life_expectancy  human_development_index  \
count               212982.000000    286343.000000            233878.000000
mean                     3.097160        73.717721                 0.722479
std                      2.548461         7.397216                 0.148990
min                      0.100000        53.280000                 0.394000
25%                      1.300000        69.590000                 0.602000
50%                      2.500000        75.050000                 0.740000
75%                      4.200000        79.460000                 0.829000
max                     13.800000        86.750000                 0.957000

         population  excess_mortality_cumulative_absolute  \
count  3.113640e+05                          1.066900e+04
mean   1.281154e+08                          4.739668e+04
std    6.596972e+08                          1.384241e+05
min    4.700000e+01                         -3.772610e+04
25%    4.490020e+05                          2.780000e+01
50%    5.882259e+06                          4.530999e+03
75%    2.830170e+07                          3.159700e+04
max    7.975105e+09                          1.282260e+06

       excess_mortality_cumulative  excess_mortality  \
count                 10669.000000      10669.000000
mean                      9.538903         12.633550
std                      12.914011         26.344219
min                     -44.230000        -95.920000
25%                       0.560000         -1.200000
50%                       7.750000          6.490000
75%                      15.360000         18.070000
max                      76.550000        377.300000

       excess_mortality_cumulative_per_million
count                             10669.000000
mean                               1477.149682
std                                1840.907839
min                               -1984.281600
25%                                  24.645111
50%                                 900.418500
75%                                2399.257000
max                               10291.122000

[8 rows x 62 columns]
********************************************************************************************
iso_code                                      255
continent                                       6
location                                      255
date                                         1234
total_cases                                141800
                                            ...
population                                    255
excess_mortality_cumulative_absolute        10480
excess_mortality_cumulative                  4060
excess_mortality                             5148
excess_mortality_cumulative_per_million     10625
Length: 67, dtype: int64

In [6]:
toDrop=['new_deaths_smoothed' , 'new_cases_per_million' , 'total_cases_per_million']
df = df.drop(toDrop, axis=1)

In [7]:
new_name = {'date': 'Date','location':'Country','continent': 'Continent','iso_code':'ISO_code'}
df = df.rename(columns=new_name)

In [8]:
theList = df['Continent'].unique().tolist()
print(theList)

['Asia', nan, 'Europe', 'Africa', 'Oceania', 'North America', 'South America']

In [9]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='constant')
df2 = pa.DataFrame(imputer.fit_transform(df), columns=df.columns)

In [10]:
df3 = df2.groupby(['Date','Country'])[['total_cases','total_deaths','total_vaccinations']].sum().reset_index()
print(df3)

              Date              Country    total_cases   total_deaths  \
0       2020-01-01            Argentina  missing_value  missing_value
1       2020-01-01               Mexico  missing_value  missing_value
2       2020-01-02            Argentina  missing_value  missing_value
3       2020-01-02               Mexico  missing_value  missing_value
4       2020-01-03          Afghanistan  missing_value  missing_value
...            ...                  ...            ...            ...
311359  2023-05-18        South America  missing_value  missing_value
311360  2023-05-18          South Korea  missing_value  missing_value
311361  2023-05-18  Upper middle income  missing_value  missing_value
311362  2023-05-18              Uruguay  missing_value  missing_value
311363  2023-05-18                World  missing_value  missing_value

       total_vaccinations
0           missing_value
1           missing_value
2           missing_value
3           missing_value
4           missing_value
...                   ...
311359        957020867.0
311360      missing_value
311361       5415545806.0
311362          9021046.0
311363      13381892700.0

[311364 rows x 5 columns]

In [11]:
changeValue = ['total_cases', 'total_deaths', 'total_vaccinations']
df2[changeValue] = df2[changeValue].replace('missing_value', 0)

In [13]:
df3['total_deaths'] = pa.to_numeric(df3['total_deaths'], errors='coerce')
filter_df3 = df3[df3['total_deaths'] > 1000000]
numberOfCountry = len(filter_df3['Country'].unique())
print('number of country that total_deaths > 1000000 :',numberOfCountry)

number of country that total_deaths > 1000000 : 10

In [14]:
total_dates = filter_df3['Date'].nunique()
print('number of date that total_deaths > 1000000 is :',total_dates)

number of date that total_deaths > 1000000 is : 981